html {
  height: initial;
}
body {
  min-width: 1200px;
  background-image: url('../img/Color-Fill.jpg');
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  //min-height: 100vh;
  height: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body.body_enter {
  height: 100vh;
}

body.body_pages {
  background-image: url('../img/bg_2.png');
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
      background-position: 50% 50%;
}

%clearfix {
  *zoom: 1;
  &:after {
    content: '';
    display: table;
    line-height: 0;
    clear: both;
  }
}

a {
	text-decoration: none;
	&:hover, &:focus, &:active{
		outline: none;
	}
}

ul {
	list-style-type: none;
}

.f_left {
  float: left;
  margin-right: 50%;
}
.f_right {
  float: right;
  margin-left: 50%;
}