.tree {
  float: left;
  width: 100%;
  overflow-x: hidden;
  ul {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    padding: 0;
    text-align: center;
    -webkit-flex-basis: 100%;
            flex-basis: 100%;
    margin: 20px;
    width: 100%;
    display: flex;
     &:first-of-type {
       margin-top: 0;      
       .tree_item {
         float: left;        
         position: relative;
         /* &::before{
             content: '';
             position: absolute;
             bottom: -20px;
             left: 50%;
             border-left: 1px dashed #dfaf69;
             width: 0;
             height: 20px;
         }*/
       }
     }    
  }
  li {
    float: left;   
    position: relative;
    margin-right: -4px;
    &::before, &::after {
      content: '';
      position: absolute; 
      top: 0; 
      right: 50%;
      border-top: 1px dashed #dfaf69;
      width: 50%; 
      height: 20px;
    }
    &::after {
      right: auto; left: 50%;
      border-left: 1px dashed #dfaf69;
    }
  }
  &_item {
    display: inline-block;
    width: 285px;
    height: 170px;
    margin: 0 10px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    @include border-radius(15px);
    background-color: rgba(0, 0, 0, .2);
    padding: 10px;   
    margin: 20px;
    &::before{
         content: '';
         position: absolute;
         bottom: -20px;
         left: 50%;
         border-left: 1px dashed #dfaf69;
         width: 0;
         height: 20px;
     } 
    &_first {
      margin-left: 300px;
    }   
    &_last {
      .tree_item {
        &:before{
          content: none;
        }
      }
    } 
    &_person {
      float: left;
      width: 100%;
      padding: 10px 0;
      img {
        float: left;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        width: 65px;
        height: 65px;
        border: none;
        @include border-radius(32px);        
        @include background-image(linear-gradient(bottom, #dfaf69 0%, #fff 100%));
        object-fit: cover;
        object-position: 50%;
      }
      &_info {
        float: left;
        width: calc(100% - 65px);
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        padding: 10px 0;
        h4 {
          font-family: $m300;
          text: #fff 16px;
          margin: 0 0 5px;
        }
        p {
          margin: 0;
          font-family: $m300;
          text: #fff 14px;
        }
      }
    }
  }
  
}



/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
  display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
  border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
  border-right: 1px solid #ccc;
  border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
  border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
}



/************************************************
 * Third Level Styles
 ************************************************/

.tree ul ul ul {
  max-width:140px;
}
.tree ul ul ul li {
  float: left; 
  text-align: center;
  list-style-type: none;
  position: relative;
  padding: 0 5px 10px 5px;
  border-left: 1px solid #ccc;
  border-left:0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  margin-left:10px;
  top:-10px;
}

/*We will use ::before and ::after to draw the connectors*/

.tree ul ul ul li:before {
  border-top: 1px solid #ccc;
  position:relative;
  top:20%;
  width:10%;
}
.tree ul ul ul li::after{
  right: auto; 
  left: -1px;
  border-left: 1px solid #ccc;
  border-bottom:1px;
  height:70px;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree ul ul ul li:only-child::after, .tree ul ul ul li:only-child::before {
  display: none;
}

/*Remove space from the top of single children*/
.tree ul ul ul li:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.tree ul ul ul li:first-child::before, 
.tree ul ul ul li:last-child::after{
  border:none;
  
}

.tree ul ul ul li:last-child::after {
  border-bottom:1px solid #ccc;
  top:-52px;
  width:7px;
}
/*Adding back the vertical connector to the last nodes*/
.tree ul ul ul li:last-child::before{
  border-right: 0;
    border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;

}
.tree ul ul ul li:first-child::after{
  border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul ul::before{
  content: '';
  position: absolute; 
  top: 0; 
  left:9px;
  border-left: 1px solid #ccc;
  width: 0; 
  height: 100;
}

.tree ul ul ul li img {
  margin:0;
  padding:0;
  padding-right:3px;
}

/*******************************/

.tree li a{
  border: 1px solid #ccc;
  padding: 5px 10px;
  text-decoration: none;
  color: #666;
  font-size: 12px;
  display: inline-block;
  
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}


.tree li a {
  max-width:110px;
}
.tree li a img {
  float:left;
  margin-bottom:5px;
  border-radius:5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;  
}

.mCS-inset-2-dark.mCSB_scrollTools .mCSB_draggerRail, .mCS-inset-2.mCSB_scrollTools .mCSB_draggerRail {
  background-color: rgba(255,255,255,.2);
  border-width: 0;
}

.mCS-inset-2-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, 
.mCS-inset-2.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, 
.mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, 
.mCS-inset-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, 
.mCS-inset-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, 
.mCS-inset.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  margin: 0 3px;
  width: 10px;
  background-color: rgba(255,255,255,.5);
}

.tree_last {
  li {
    .tree_item {
      &:before {
        content: none;
      }
    }
  }
  
}